/* Meu Primeiro Arquivo CSS */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: green;
    
}
p{
    color: red;
    background-color: blue;
    font-size: 20px;
    font-family: cursive;
}

